.wraper {
    width: 1000px;
    margin: 50px auto 0;
}

.pandemic_map {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.box {
    height: 50px;
    width: 50px;
    border: 1px solid #c0c0c0;
    margin: 2px;
}

.ocean {
    background-color: #6480d7;
}

.infected {
    background-color: #e66e84;
}

.uninfected {
    background-color: #a0f084;
}
